:root {
    --mainColor : #252734;
    --SecondaryColor : #333646;
    --acsentColor : #FF9100;
}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

section h1 {
    color: white;
    font-size: 2.5rem;
}

/* general */

/* End General */


/* Navbar */
.nav-link.active {
    color: var(--acsentColor) !important;
}

.navbar-bg-dark {
    background-color: var(--SecondaryColor) !important;
    transition: .8s;
}

.navbar-container {
    width: 100%;
}

.navbar-bootstrap {
    z-index: 2;
}

/* End Navbar */


/* Introduction */
.color-acsent {
    color : var(--acsentColor);
}

#introduction {
    color: white;
    min-height: 60vh;
    padding-top: 75px;
}

#introduction h1{
    font-size: 3rem;
}

#introduction h2{
    font-weight: 300;
}

#introduction p{
    font-size: 1.1rem;
    font-weight: 300;;
}

.btn-talk {
    background-color: var(--acsentColor);
    text-align: center;
    color: white;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-talk:hover {
    box-shadow: 0 0 5px rgba(255, 166, 0, .8);
}

.cv-download {
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

.social-icon img {
    margin-right: .7em;
    margin-bottom: 10px;
}

.profile {
  width: 330px;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #613030;
  box-shadow: 0 0 2rem var(--acsentColor);
  animation: show-profile .5s forwards ease-in-out; }

@keyframes show-profile {
  0% {
    width: 0; } }
  .profile .photo, .profile .content {
    box-sizing: border-box; }
  .profile .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    background-color: #fafafa;
    margin-left: -50px;
    box-shadow: 0 0 .5rem #babbbc;
    animation: rotate-photo .5s forwards ease-in-out; }

@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg); } }
    .profile .photo img {
      width: 100%; }
  .profile .content {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .profile .content::before {
      content: '';
      position: absolute;
      width: 230px;
      height: 150px;
      background-color: var(--SecondaryColor);
      left: 0;
      top: -20px;
      z-index: -1;
      transform: rotate(-8deg); }
    .profile .content .text {
      margin-top: 30px;
      margin-left: 25px; }
      .profile .content .text h3, .profile .content .text h6 {
        font-weight: normal;
        margin: 3px 0;
        letter-spacing: .5px;
        white-space: nowrap; }
    .profile .content .btn {
      background-color: var(--acsentColor);
      width: 50px;
      height: 50px;
      position: absolute;
      right: 25px;
      top: 25px;
      border-radius: 50%;
      z-index: 1;
      cursor: pointer;
      transition-duration: .3s;
      animation: pop-btn .3s both ease-in-out .5s; }

@keyframes pop-btn {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
      .profile .content .btn:hover {
        box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5); }
      .profile .content .btn span {
        width: 60%;
        height: 2px;
        position: absolute;
        background-color: white;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        animation: to-hamburger .3s forwards ease-in-out; }
        .profile .content .btn span::before, .profile .content .btn span::after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          background-color: white;
          transition-duration: .3s;
          transform: rotate(0deg);
          right: 0; }
        .profile .content .btn span::before {
          margin-top: -7px; }
        .profile .content .btn span::after {
          margin-top: 7px; }
      .profile .content .btn.active span {
        animation: to-arrow .3s forwards ease-in-out; }
        .profile .content .btn.active span::before, .profile .content .btn.active span::after {
          width: 60%;
          right: -1px; }
        .profile .content .btn.active span::before {
          transform: rotate(45deg); }
        .profile .content .btn.active span::after {
          transform: rotate(-45deg); }

@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg); } }

@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg); }
  to {
    transform: translateY(-50%) rotate(180deg); } }
  .profile .box {
    width: 150px;
    height: 150px;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(52, 76, 155, 0.7);
    position: absolute;
    top: 50%;
    right: -40%;
    transform: translate(-50%, -50%);
    transition-duration: .3s; }
    .profile .box i {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #0e175c;
      font-size: 26px;
      text-align: center;
      line-height: 50px;
      position: absolute;
      left: 18px;
      top: calc(75px - 50px/2);
      box-shadow: 0 0 .5rem #babbbc;
      transition-duration: .3s; }
      .profile .box i:hover {
        transition-delay: initial !important;
        box-shadow: 0 0 0 5px #babbbc; }
    .profile .box.open {
      opacity: 1; }
      .profile .box.open i {
        left: 60px; }
        .profile .box.open i:nth-of-type(1) {
          transform: rotate(-90deg) translateX(120px) rotate(90deg);
          transition-delay: 0s; }
        .profile .box.open i:nth-of-type(2) {
          transform: rotate(-45deg) translateX(120px) rotate(45deg);
          transition-delay: 0.1s; }
        .profile .box.open i:nth-of-type(3) {
          transform: rotate(0deg) translateX(120px) rotate(0deg);
          transition-delay: 0.2s; }
        .profile .box.open i:nth-of-type(4) {
          transform: rotate(45deg) translateX(120px) rotate(-45deg);
          transition-delay: 0.3s; }
        .profile .box.open i:nth-of-type(5) {
          transform: rotate(90deg) translateX(120px) rotate(-90deg);
          transition-delay: 0.4s; }
/* End Introduction */

/* Introduction 2 */
#introduction-2 {
    min-height: 30vh;
    background-color: gray;
}

/* End Introduction 2 */


/* About */
#about {
    min-height: 300px;
    width: 100%;
    background-color: var(--SecondaryColor);
    color: white;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

#about hr {
    width: 35%;
    height: .5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

#pacman {
    margin-top: 0px;
    height: 60px;
    position: relative;
    animation: sliding-pacman 10s infinite;
}

@keyframes sliding-pacman {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    60% {
        -webkit-transform:rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    90% {
        left: 0;
    }
}

/* End About */

/* Carrer Timeline */

#carrer-timeline {
    /* padding-top: 20px; */
    /* padding-bottom: 80px; */
    margin-bottom: 50px;
}

#carrer-timeline hr {
    width: 35%;
    height: .5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

.main-timeline{ font-family: 'Libre Franklin', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 60px);
    padding: 20px 0 0 60px;
    margin: 0 5px 15px 0;
    float: right;
}
.main-timeline .timeline-content{
    color: #fff;
    background: #f94419;
    text-align: center;
    padding: 20px 20px 20px 160px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: "";
    background: linear-gradient(to top left, transparent 50%, #952000 52%);
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-timeline .timeline-icon{
    font-size: 35px;
    line-height: 54px;
    width: 60px;
    height: 60px;
    border: 4px solid #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 80px;
    top: 50%;
}
.main-timeline .timeline-year{
    background: #ff6134;
    font-size: 35px;
    font-weight: 600;
    line-height: 110px;
    width: 120px;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -60px;
}
.main-timeline .title{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    padding: 20px 60px 0 0;
    float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 160px 20px 20px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: rotateY(180deg);
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: -60px;
    left: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 80px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ background: #1862F7; }
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{
    background: linear-gradient(to top left, transparent 50%, #012E95 52%);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ background: #3473FF; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ background: #22a009; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{
    background: linear-gradient(to top left, transparent 50%, #123a0a 52%);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ background: #28b50c; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ background: #F61945; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{
    background: linear-gradient(to top left, transparent 50%, #95001D 52%);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ background: #FE3559; }
@media screen and (max-width:990px){
    .main-timeline .timeline{ width: calc(50% + 120px); }
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        text-align: center;
        padding: 42px 20px 0 0;
        margin: 0 0 30px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 150px 20px 20px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        width: 60px;
        transform: rotate(90deg);
        bottom: auto;
        top: 20px;
        left: -20px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        line-height: 100px;
        width: 100%;
        height: 100px;
        left: auto;
        right: -20px;
        top: -42px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        transform: translateX(-50%) translateY(0);
        top: 75px;
        left: 50%;
        right: auto;
    }
    .main-timeline .title{ font-size: 20px; }
}
/* End Carrer Timeline */

/* Tech Stack */
#tech-stack {
    background-color: var(--SecondaryColor);
    width: 100%;
    color: white;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

#tech-stack img {
    /* margin-right: 60px !important; */
    height: 120px;
    margin: 0px;
}

#tech-stack h3 {
    font-size: 14px;
}

#tech-stack p {
    font-size: 12px;
}


#tech-stack .imghvr-fade {
    background-color: var(--SecondaryColor);
}


#tech-stack hr {
    width: 35%;
    height: .5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

/* End Tech Stack */

/* Portofolio */
#portofolio {
    /* padding-top: 10px; */
    padding-bottom: 60px;
    margin-bottom: 80px;
}

#portofolio hr {
    width: 35%;
    height: .5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}
/* End Portofolio */